* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 36px;
  font-weight: 500;
  color: #19366f;
  margin-bottom: 64px;
}
h3 {
  font-size: 24px;
  color: #444;
  margin-bottom: 20px;
}
h4 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #333;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex-row {
  display: flex;
}
.btn {
  display: inline-block;
  padding: 14px 40px;
  background: #007bff;
  color: #fff;
  border-radius: 45px;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 300ms ease-in;
  &:hover {
    background: transparent;
    border-color: #fff;
  }
}
.btn-light {
  background: transparent;
  border-color: #fff;

  &:hover {
    background: #007bff;
    border-color: transparent;
    color: #fff;
  }
}
section {
  padding: 28vw 4vw;
  @media (min-width: 800px) {
    padding: 10vw 0;
  }
}
.grid {
  display: grid;
}
.pink-text {
  color: #ff689b;
}

.yellow-text {
  color: #e9bf06;
}

.teal-text {
  color: #3fcdc7;
}

.green-text {
  color: #41cf2e;
}

.limeGreen-text {
  color: #d6ff22;
}

.blue-text {
  color: #4680ff;
}
.display-none {
  transform: translateX(100%);
}
// header section
header {
  height: 79px;
  width: 100%;
  position: fixed;
  background: #fff;
  z-index: 3;
  box-shadow: 0 0 30px rgba(137, 147, 161, 0.3);
  nav {
    display: flex;
    align-items: center;
    padding: 25px 10px;

    img {
      height: 25px;
    }
    i {
      z-index: 6;
      font-size: 24px;
      flex: 1;
      text-align: right;
      @media (min-width: 800px) {
        display: none !important;
      }
    }
  }
  ul {
    display: none;
    flex: 1;
    justify-content: flex-end;
    @media (min-width: 800px) {
      display: flex;
    }
    a {
      color: #004289;
      font-weight: 500;
      padding: 0 15px;
      margin-left: 15px;
    }
  }
}
// mobile nav
.mobile-bg {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 4;
  right: 0;
  transition: 300ms ease all;

  i {
    position: absolute;
    color: #fff;
    left: 20px;
    top: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  ul {
    position: absolute;
    padding: 20px;
    width: 300px;
    right: 0;
    background: rgba(0, 123, 255, 0.8);
    height: 100%;
    li {
      padding: 10px 0;
    }
    a {
      color: #fff;
      font-weight: 500;
    }
  }
}
// hero section

.hero {
  // padding: 150px 0;
  background: url("/img/intro-bg.png") center bottom no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

  .flex-row {
    padding: 0 32px;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1000px) {
      flex-direction: row;
    }
  }
  .left {
    flex: 1;
    order: 2;
    justify-content: center;
    align-items: center;
    @media (min-width: 1000px) {
      order: 1;
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    @media (min-width: 1000px) {
      flex-direction: row;
    }
    .btn {
      width: 200px;
      text-align: center;
    }
  }
  h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 32px;
    text-align: center;
    @media (min-width: 1000px) {
      text-align: initial;
      font-size: 48px;
    }
  }
  img {
    width: 50%;
    display: flex;
    flex: 1;
    order: 1;
    @media (min-width: 1000px) {
      order: 2;
    }
  }
}
.about {
  padding: 50px 4vw;

  img {
    width: 60%;
    @media (min-width: 900px) {
      width: 100%;
    }
  }
  h2 {
    text-align: center;
  }
  p {
    line-height: 1.7;
  }
  .flex-row {
    gap: 50px;
    align-items: center;

    flex-direction: column;
    @media (min-width: 900px) {
      flex-direction: row;
    }
  }
  .left,
  .right {
    flex: 1;
  }
  .left {
    .flex-row {
      gap: 0;
      flex-direction: column;
      margin-top: 32px;
      align-items: center;
      @media (min-width: 500px) {
        flex-direction: row;
      }
    }
    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      @media (min-width: 500px) {
        margin-top: 0;
        align-items: initial;
      }
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      border: 2px solid #007bff;
      border-radius: 50%;
      transition: 300ms ease all;
      font-size: 24px;
      color: #19366f;
      @media (min-width: 500px) {
        margin-right: 16px;
      }
      &:hover {
        background: #007bff;
        border-color: transparent;
        color: #fff;
      }
    }
  }
}
.about1 {
  .left {
    text-align: center;
    @media (min-width: 500px) {
      text-align: initial;
    }
  }
}
.about1,
.about3 {
  .right {
    display: flex;
    justify-content: center;
    @media (min-width: 900px) {
      align-items: start;
    }
  }
}
.about2 {
  .left {
    display: flex;
    justify-content: center;
    order: 2;
    @media (min-width: 900px) {
      order: 1;
      align-items: start;
    }
  }
  .right {
    order: 1;
    @media (min-width: 900px) {
      order: 2;
    }
  }
}
.about2,
.about3 {
  p {
    margin-bottom: 20px;
  }
}
// services

.services {
  background: #ecf5ff;
  .container {
    max-width: 900px;
  }
  h2 {
    text-align: center;
  }
  .grid {
    max-width: 600px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: 32px;
    row-gap: 16px;
    @media (min-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%;
    }
    .flex-row {
      border-radius: 12px;
      box-shadow: 0 10px 30px 0 rgba(68, 88, 144, 0.1);
      position: relative;
      background: #fff;
      cursor: pointer;
      overflow: hidden;
      transition: 300ms ease all;
      padding: 30px;
      &:hover {
        transform: translateY(-4px);
      }

      p {
        line-height: 1.7;
      }
      i {
        font-size: 64px;
        position: absolute;
        left: -10px;
        display: flex;
        align-self: center;
      }
      .right {
        margin-left: 40px;
      }
    }
  }
}
// why choose us

.why {
  background: #004a99;
  color: #fff;
  h2,
  h3 {
    color: #fff;
    text-align: center;
  }
  .flex-row {
    margin-top: 60px;
    gap: 60px;
  }
  .write-up {
    margin: 0 auto;
    max-width: 600px;
    flex-direction: column;
    @media (min-width: 900px) {
      max-width: 100%;
      flex-direction: row;
    }
    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      cursor: pointer;
      padding: 40px;
      border-radius: 12px;
      background: #00458f;
      text-align: center;
      transition: 300ms ease all;
      &:hover {
        background: #01346b;
        span {
          border-color: #00458f;
        }
      }
    }
    span {
      max-width: 100%;
      margin-top: auto;
      padding-bottom: 4px;
      border-bottom: 2px solid transparent;
    }
    i {
      font-size: 50px;
    }
    h3 {
      margin: 16px 0;
    }
    p {
      line-height: 1.7;
      font-size: 14px;
      margin-bottom: 32px;
    }
  }
  .analytics {
    flex-direction: column;
    margin-top: 90px;
    justify-content: space-evenly;
    align-items: center;
    @media (min-width: 800px) {
      flex-direction: row;
    }
    span {
      display: block;
      text-align: center;
    }
    .number {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}
// portfolio
.photo-gallery {
  h2 {
    text-align: center;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 125px;
    gap: 16px;
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .col {
    position: relative;
    img {
      position: relative;
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
    .bg {
      border-radius: 12px;
      transition: 300ms ease all;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .content {
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 300ms ease all;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      p:nth-child(1) {
        font-weight: 600;
        font-size: 24px;
      }
      p:nth-child(2) {
        margin-bottom: 4px;
      }
      i {
        font-size: 20px;
        padding: 10px;
        border-radius: 50%;
        background: #004289;
      }
    }
    &:hover {
      cursor: pointer;
      .bg {
        background: rgba(0, 59, 122, 0.8);
      }
      .content {
        opacity: 1;
      }
    }
  }
  .photo-1 {
    grid-row: span 3;
  }
  .photo-2,
  .photo-6,
  .photo-9 {
    grid-row: span 2;
  }
  .photo-7,
  .photo-8 {
    grid-row: span 3;
  }

  .photo-3,
  .photo-4,
  .photo-5 {
    grid-row: span 5;
  }
}
// clients
.clients {
  background: #ecf5ff;
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
  }
  .flex-row {
    flex-wrap: wrap;
    gap: 4px;
  }
  .col {
    max-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    flex-basis: 100%;
    padding: 64px;
    border-radius: 12px;
    @media (min-width: 500px) {
      border-left: none;
      flex-basis: 49%;
    }
    @media (min-width: 900px) {
      flex-basis: 24%;
    }
    &:hover {
      img {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      transition: 300ms ease all;
    }
  }
}

// contact us
.contact {
  h2 {
    text-align: center;
  }
  .container {
    max-width: 900px;
    margin: 0 auto;

    form {
      display: grid;
      gap: 20px;

      input,
      textarea {
        border: 2px solid #007bff;
        padding: 20px 30px;
        border-radius: 8px;
        &:focus {
          outline: none;
          border-color: #20b2aa;
        }
      }
      textarea {
        min-height: 200px;
        resize: none;
      }
      .btn {
        width: max-content;
        justify-self: center;
        font-size: 18px;
        text-transform: uppercase;
        &:hover {
          background: #20b2aa;
          cursor: pointer;
        }
      }
    }
  }
}
// footer
footer {
  padding: 4vw;
  background: #004a99;
  color: #fff;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    margin-bottom: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    padding: 0 16px;
    margin-bottom: 16px;
  }
  a {
    font-weight: 500;
    color: #fff;
  }
  i {
    font-size: 30px;
    cursor: pointer;
    text-align: center;
  }
}
